# Data Science Tools and Ecosystem

Data Science Tools and Ecosystems are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3.SQL

Some of the commonly used librariessd by Data Scientists include:
1. Pandas
2. Numpy
3. ggplot

Data Science Tools
Jupyter Notebook
RStudio
VS Code

Below are a few examples of evualating arithmetic expressions in Python

In [7]:
(3*4)+5

17

This will comvert 200 minutes to hours by diving by 60

In [8]:
(200/60)

3.3333333333333335

In [ ]:
Objectives:
*Python
*Jupyter
*Numpy
*RStudio
*

Author
lloyd